<% include header.ejs %>
<nav class="navbar navbar-fixed-top headNav">
<div class="navbar-header nav-headFoot">
<a class="user-icon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
<div class="nav-user">
<span><%=user.name%></span>
<span id="logout" class="logout">注销</span>
<span id="logout" class="logout">交流</span>
</div>
<ul class="nav nav-tabs mobile-open-select">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href=<%=allOpenned?'/allOpened':"/index"%>>
        <%=allOpenned?'所有公开':"我的心绪"%><span class="caret"></span>
      </a>
    <ul class="dropdown-menu">
      <li><a href=<%=allOpenned?'/index':"/allOpened"%>><%=allOpenned?'我的心绪':"所有公开"%></a></li>
    </ul>
  </li>
</ul>
<div class="choose-item">
<a href="/index">点滴</a>
    <span>/</span>
    <a href="/articleList">菏泽</a>
</div>
</div>
</nav>
<div class="content-all">
	   <div class="every-content">  
			<% if(emotions && typeof(emotions)!= "undefined"){ %>
      <%  String.prototype.replaceAll = function(str1,str2){
          return this.replace(new RegExp(str1,"gm"),str2);
      }%>
				<% for(var i=0;i<emotions.length;i++){%>
				<div id="piece" class="piece">
					<label class="pieceContent"><%-emotions[i].content.replaceAll("\n","<br/>")%></label>
                <% if (!allOpenned) {%>
               <label class="btn-del"><span class="glyphicon glyphicon-remove-circle"></span></label>
               <% }%>
               <div class="content-image">
               <%if(emotions[i].images){%>
                  <%for(var j = 0;j<emotions[i].images.split(",").length;j++){%>
                  <img src=<%="files/"+emotions[i].images.split(",")[j]%> style="width:256px;height:180px;"></img>
                  <%}%>
               <%}%>
               </div>
               <a href="javascript:void(0)" class='open' style=<%=allOpenned?"visibility:hidden;": "visibility:visible;" %>><%=emotions[i].openness == 1 ? "不开放" : "开放"%></a>
               <input value=<%=emotions[i]._id%> type="hidden"></input>
               <p class="openness" style=<%=allOpenned?"visibility:hidden;": "visibility:visible;" %>>目前开放性：<span><%=emotions[i].openness == 1 ? "是" : "否"%></span></p>
               <p class="publish-time"><%=emotions[i].date.getFullYear()%>/<%=parseInt(emotions[i].date.getMonth())+1%>/<%=emotions[i].date.getDate()%>&nbsp<%=(emotions[i].date.getHours()>9?emotions[i].date.getHours():("0"+emotions[i].date.getHours()))%>:<%=(emotions[i].date.getMinutes()>9?emotions[i].date.getMinutes():("0"+emotions[i].date.getMinutes()))%></p>
				</div>
				<%}%>
			<%}%>
         <div id="getmore" class="piece get-more">
         加载更多内容&darr;
         </div>
      </div>   
</div>
<div class="mobile-publish">
<a href="/mobilePost">+</a>
</div>
<% include footer.ejs %>
<script src="/javascripts/index.js"></script>